@model EBuy.Website.Models.Auction

@{
    ViewBag.Title = "Create";
}

<h2>Create Auction</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.Title)
                @Html.EditorFor(m => m.Title)
            </li>
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.EditorFor(m => m.Description)
            </li>
            <li>
                @Html.LabelFor(m => m.StartPrice)
                @Html.EditorFor(m => m.StartPrice)
            </li>
            <li>
                @Html.LabelFor(m => m.EndTime)
                @Html.EditorFor(m => m.EndTime)
            </li>
        </ol>
        <input type="submit" value="Create" />
    </fieldset>
}